<div class="content ques-detail-mod" ng-init="{expandCmt:false,expandReply:false,isSendingCmt:false,cmtContent:''}">
	<a ng-href="#!/user/4" class="face face-50 asker" title="老婆婆" style="background-image:url(http://115.29.49.123/mifan/api//cache/user/0/0/60/6c9e391e64_60_60.jpg)" href="#!/user/4">老婆婆</a>
	<h3 class="h5">
		<p><a ng-href="#!/q/5" title="问题" href="#!/q/5">这会是第一个问题么？</a></p>
	</h3>
	<p class="meta">
		<a ng-href="#!/user/4" title="username" href="#!/user/4">老婆婆</a> 提问于 <a ng-href="#!/q/5" href="#!/q/5">2月前</a>
	</p>
</div>