<div class="container ques-page page-mod ">
	<div class="main sd-card">
		<div ng-include="'views/module/ques-mod.html'" class="ques-mod"></div>

		<dl class="ans-list">
			<dd ng-include="'views/module/answer-mod.html'" ng-init="{quesDetail:true}"></dd>
			<dd ng-include="'views/module/answer-mod.html'" ng-init="{quesDetail:true}"></dd>
			<dd ng-include="'views/module/answer-mod.html'" ng-init="{quesDetail:true}"></dd>
			<dd ng-include="'views/module/answer-mod.html'" ng-init="{quesDetail:true}"></dd>
		</dl>
	</div>
</div>