/*.header:after{
	background-color: #ddd;
	background-image: -webkit-linear-gradient(left,#7560df 0,#7560df 16.6%,#df42a8 16.6%,#df42a8 33.2%,#ea8b46 33.2%,#ea8b46 49.8%,#f1d13c 49.8%,#f1d13c 66.4%,#52de7f 66.4%,#52de7f 83%,#2aa6e2 83%,#2aa6e2 100%);
	background-image: -moz-linear-gradient(left,#7560df 0,#7560df 16.6%,#df42a8 16.6%,#df42a8 33.2%,#ea8b46 33.2%,#ea8b46 49.8%,#f1d13c 49.8%,#f1d13c 66.4%,#52de7f 66.4%,#52de7f 83%,#2aa6e2 83%,#2aa6e2 100%);
	background-image: -ms-linear-gradient(left,#7560df 0,#7560df 16.6%,#df42a8 16.6%,#df42a8 33.2%,#ea8b46 33.2%,#ea8b46 49.8%,#f1d13c 49.8%,#f1d13c 66.4%,#52de7f 66.4%,#52de7f 83%,#2aa6e2 83%,#2aa6e2 100%);
	background-image: linear-gradient(left,#7560df 0,#7560df 16.6%,#df42a8 16.6%,#df42a8 33.2%,#ea8b46 33.2%,#ea8b46 49.8%,#f1d13c 49.8%,#f1d13c 66.4%,#52de7f 66.4%,#52de7f 83%,#2aa6e2 83%,#2aa6e2 100%);
};*/

/* 导航块阴影，轻微内陷 */

/* 头部 */

/* 手机导航 */
.header .nav li.active a,

/* 手机用户图标 */
.m-menu-open .header .user-m-menu

{
	box-shadow: inset 0 0 1px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.2);
}



/* phone */
@media (max-width: 767px) {



	/** 轻微凸起 **/
	
	/* 开关 */
	.switch .item

	/* 二级导航 */
	/*.sub-nav li a,
	.sub-nav li a:hover,
	.sub-nav li a:active*/


	/* .m-menu .user-menu li a */

	{
		background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee)) !important;
	}
/*
	.sub-nav li.active a

	 .m-menu .user-menu li.active a 

	{
		box-shadow: inset 0 0 2px rgba(0, 0, 0, .1);
	}*/

}



/*.ipad .switch .item{
	background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee)) !important;
}*/