<nav ng-show="totalPage > 1">
  <ul class="pagination">
    <li ng-class="{disabled: curPage == 1}"><a ng-click="getPage(curPage - 1)">&laquo;</a></li>
		<li ng-repeat="page in pages" ng-class="{disabled: isPageLoading || curPage == page}"><a ng-click="getPage(page)"><span ng-hide="curPage == page && isPageLoading">{{page}}</span><i class="glyphicon" ng-show="isPageLoading && curPage == page" ng-class="{'glyphicon-refresh animated infinite': isPageLoading}"></i></a></li>
    <li ng-class="{disabled: curPage == totalPage}"><a ng-click="getPage(curPage + 1)">&raquo;</a></li>
  </ul>
</nav>
