node_modules
dist
doc
data
emoji
.tmp
.sass-cache
.ftppass
secret.json
app/bower_components
app/mifan
service/application/logs
service/doc
service/application/config/database.php
service/application/cache
service/uploadfile
