
<div class="feed-content reply sd-card" ng-controller="homeReply">
	
	<ul>
		<li class="feed-mod reply-mod">
			<p><a ng-href="#">老婆婆</a>评论了你</p>
			<p class="content">
				<a ng-href="#!/user/" class="face face-30" title="{{news.ans.username}}" style="background-image:url(http://mifan.us/cache/user/0/0/48/6c9e391e64_48_48.jpg)">老婆婆</a>
				<a ng-href="#" class="ques">你最近一次大哭是在什么时候？😭</a>
			</p>
		</li>
		<li class="feed-mod reply-mod">
			<p><a ng-href="#">老婆婆</a>回复了你</p>
			<p class="content">
				<a ng-href="#!/user/" class="face face-30" title="{{news.ans.username}}" style="background-image:url(http://mifan.us/cache/user/0/0/48/6c9e391e64_48_48.jpg)">老婆婆</a>
				<a ng-href="#" class="ques">你最近一次大哭是在什么时候？😭</a>
			</p>
		</li>
	</ul>

	<more></more>
</div>