
$tone-color: #3d96dc;
$tone: $tone-color;
$black: #11171c;
$light-black: #23282c;
$white: #fff;
$gray: #999;
$bg: #e6e6e6;

$green: #5cb85c;

$error-color: #d9534f;
$link-color: #2a6496;

$bg: $white;

$root-bg: #1e1e1e;

$dark-tone: darken($tone, 10%);

$light-gray: #ddd;
$dark-gray: darken($gray, 40%);

$red: red;