.page-404 {
  max-width: 400px;
  _width: 400px;
  padding: 30px 20px 50px;
  margin: 0 auto;

  h1 {
    margin: 0 10px;
    font-size: 10em;
    text-align: center;
  }

  h1 span {
    color: #bbb;
  }

  h3 {
    margin: 1.5em 0 0.5em;
  }

}