::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
div, p, dl, dd, a, b, u, h1, li, h2, em, input, textarea, button, select, form, section, label, span, td, li, nav, footer, body, ul, i {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  word-wrap: break-word;
  word-break: break-all;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: 0;
}

a,
.btn-link{
  &:hover{
    text-decoration: none;
  }
}

html,
body{
  background-color: #e6e6e6;
}

.main-mifan-view{
  overflow: hidden;
  margin-top: 30px;
}

.row{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.root{
  
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes rotate{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
