.footer {
  margin-top: 26px;
  padding: 80px 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: $black;
  p{
  	text-align: center;
  	a{
  		color: #777;
  		&:hover{
  			color: #777;
  		}
  	}

    .loved{
      //color: red;
    }
  }
}