.header{
	border-bottom: 1px solid #e5e5e5;
	margin-top: 0;
  margin-bottom: 0;
  background: $black;
  position: relative;
  .container{
  	position: relative;
  	padding: 40px 0 6px;
  }
  .logo,
  .nav{
  	display: inline-block;
  }
	.logo{
		font-size: 4em;
		margin: 0;
		background-color: $tone;
		width: 100px;
		height: 100px;
		line-height: 100px;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		z-index: 88;
		@include box-shadow(0, 0, 10px);
    a{
			color: $white;
			display: block;
			height: 100%;
    	&:hover,
    	&:active,
    	&:visited{
    		text-decoration: none;
				color: $white;
    	}
    }
    small{
    	.glyphicon{
    		top: 2px;
    	}
			margin-left: .2em;
			font-size: .4em;
    }
    :after{
    	content: "";
			display: block;
			position: absolute;
			right: -10px;
			bottom: 0;
			z-index: 1;
    }
	}

	.nav{
		vertical-align: bottom;
		margin-left: 140px;
		margin-top: -2px;
		position: relative;
		li{
			margin: 0 6px;
			a,
			a:visited{
				color: $gray;
				background: transparent;
			}
			a:hover,
			a:active,
			a.active,
			a:focus{
				background: transparent;
				color: $white;
			}

			&.active{
				a{
					color: $tone;
				}
			}
		}
		
		// 导航中小三角
		// 在移动设备（Mobile）和chrome浏览器中设置transform偏移 -webkit
		// 在其他情况中设置left值偏移
		// 动画中transform性能优于left
		.arrow{
			color: $bg;
			font-size: 26px;
			position: absolute;
			left: 20px;
			top: 36px;
			left: 0;
			@include transition(all, .9s, $easeOutCirc);
		}
	}

	.login,
	.username{
		margin-top: 10px;
	}

	.login{
		.xs-user{
			font-size: 1.2em;
			margin: -2px 10px 0 0;
			display: none;
		}
	}

	.username{
		cursor: pointer;
		&:hover{
			color: #111;
		}

		.caret{
			@include transition(all, 200ms, ease-in);
			margin-right: 1.4em;
			position: relative;
		}

		.dropdown-label{
			padding: 8px 0;
			-webkit-user-select: none;
			user-select: none;
		}

		.dropdown-menu{
			margin-top: .3em;
			li{
				padding: .3em;
				.glyphicon{
					margin-right: .4em;
				}
			}
		}

		&.open{
			.caret{
				@include rotate(180);
			}
		}
	}
	&:after{
		-webkit-mask-box-image: -webkit-gradient(linear,left top,right top,color-stop(0.0,rgba(0,0,0,0)),color-stop(0.5,rgba(0,0,0,.8)),color-stop(1.0,rgba(0,0,0,0)));
		//@include background-gradient(rgba(0, 0, 0, .4), transparent);
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .4)), to(transparent));
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .4), transparent);
		background-image: linear-gradient(top, rgba(0, 0, 0, .4), transparent);
		content: "";
		display: block;
		height: 5px;
		width: 100%;
		position: absolute;
		bottom: -5px;
	}

	
}

@media (max-width: $screen-sm) {
	.header{
	  .nav{
	  	margin-left: 110px;

	  	li{
	  		//margin: 0;

	  		a{
	  			
	  		}
	  	}
	  }

	  .login{
	  	.sm-user{
	  		margin-right: 10px;
	  	}
	  }
	}
}

@media (max-width: $screen-xs) {
	.header{
		.container{
	  	padding: 10px 0 2px;
	  }

	  .logo{
	  	height: 60px;
	  	width: 60px;
	  	font-size: 2em;
	  	line-height: 60px;
	  	//left: 30px;
	  }

	  .nav{
	  	margin-left: 70px;

	  	li{
	  		margin: 0;

	  		a{
	  			padding: 10px 6px;

	  			b{
	  				display: none;
	  			}
	  		}
	  	}

	  	.arrow{
	  		display: none;
	  	}
	  }

	  .login{
	  	.sm-user{
	  		display: none;
	  	}
	  	.xs-user{
	  		display: block;
	  	}
	  }
	}
}


//根据设备设置不同的CSS
.chrome,
.mobile{
	.header{
		.nav{
			.arrow{
				left: 0 !important;
			}
		}
	}
}