.home-page{
	padding-top: 2.4em;
	
	.separate-row{
		height: 100%;
	}

	.main{
		.nav,
		.feed-content{
			background-color: $white;
			padding: 20px;
		}
		.ask-ques-form{
			textarea{
				height: 5em;
				display: block;
				border-radius: 0;
				border: none;
				box-shadow: none;
			}

			button[type="submit"]{
				display: none;
				//height: 5em;
				//border-top-left-radius: 0;
				//border-bottom-left-radius: 0;
			}
		}

		.nav{
			margin-top: 2em;
			
			li{
				a{
					color: $gray;
					border: none;
					&:hover,
					&:active{
						color: $black;
						background: transparent;
					}
				}
				b{
					position: absolute;
					top: 0;
					right: 0;
					background: #f33;
					color: #fff;
					text-indent: -999px;
					//padding: 0 .4em;
					border-radius: 100px;
					font-size: .8em;
					display: block;
					width: 8px;
					height: 8px;
				}
				&.active{
					a{
						color: $tone;
					}
				}
			}
		}

		.feed-content{
		
		}

		.news{
			.avatar{
				display: block;
				background-repeat: no-repeat;
				background-size: cover;
				text-indent: -999em;
				font-size: 1px;
			}
			.avatars{
				margin-right: .8em;
				.asker{
					width: 24px;
					height: 24px;
				}
				.answerer{
					width: 35px;
					height: 35px;
					margin: -10px 0 0 16px;
				}
			}
			.questions{
				:last-child{
					border-bottom: none;
				}
				dd{
					border-bottom: 1px #ddd solid;
					box-shadow: 0 1px 1px #fff;
					padding: 1em 0;
					background: #fff;
					transition: all .4s ease-in-out;
					-moz-transition: all .4s ease-in-out;
					-webkit-transition: all .4s ease-in-out;

					&:hover{
						background: #effaff;
					}

					h3{
						margin: 0 0 .6em 0;
						a{
							color: #333;
							&:hover{
								color: #000;
							}
						}
					}

					.lead{
						font-size: 1.1em;
						margin-bottom: .6em;
					}

					.meta{
						margin: .8em 0;
					}

					.like{
						color: #fff;
						background: #f33;
						padding: 0 .6em;
						.glyphicon-heart{
							margin-right: .2em;
						}
						.count{
							vertical-align: bottom;
						}
					}

					.loved{
						margin-left: .8em;
						li{
							display: inline-block;
						}
						.avatar{
							width: 18px;
							height: 18px;
							margin: 0 0px;
						}
					}
				}
			}
		}
		
	}

	.separate{
		background: #e5e5e5;
		width: 1px;
		margin: 0 auto;
		height: 100%;
	}

	.side{
		background-color: $white;
		padding: 16px;
		margin-left: 3em;
		.side-block{
			margin-bottom: 2em;
		}
		.every-day-ask{
			color: #555;
			.ans-num{
				width: 60px;
				height: 60px;
				background: #428bca;
				color: #fff;
				margin-right: 1em;
				border-radius: 3px;
				span,
				b{
					display: block;
					line-height: 2;
					text-align: center;
				}
				b{
					font-size: 1.2em;
				}
			}
			.content{
				color: #555;
				display: block;
				overflow: hidden;
				text-align: justify;
				&:hover,
				&:active{
					color: #111;
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
	.home-page{
		.side{
			margin-left: 1.4em;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.home-page{
		.side{
			margin: 2em 0 0;
		}
	}
}