.m-menu-open{

	overflow: hidden;
	color: $white;
	
	// 侧边栏展开时，禁止页面滚动
	.m-wrap{
		overflow-y: hidden;
    -webkit-overflow-scrolling: none;
	}

	.m-body{
		//padding-top: 0;
		@include transform(translate(-160px, 0));
		@include box-shadow(2px, 0, 8px, rgba($black, .9));
	}


	.m-menu{
		@include transform(translate(0, 0));
	}

	.m-menu-mask{
		display: block;
	}

	.header{
		.user-m-menu{
  		background-color: $light-gray;

		}
	}

}

.m-menu-inn{
	
}

.m-menu{
	background-color: $dark-gray;
	position: absolute;
	width: 160px;
	//height: 800px;
	top: 0;
	right: 0;

	padding-top: 16px;

	//@include transform(translate(160px, 0));


	.log-reg{
		text-align: center;
		.link{
			a{
				display: inline-block;
				padding: .4em 1em;
				//margin: .4em 0;
				font-size: 1.1em;
				background-color: $light-gray;
				color: $dark-gray;
				&:active,
				&.active{
					color: $tone;
				}
			}
		}

		.reg{
			margin-left: -4px;
			border-radius: 0 2px 2px 0;
			border-left: 1px solid $gray;
		}

		.log{
			border-radius: 2px 0 0 2px;
		}
	}

	.user{

	}


	.logo,
	.user-avatar{
		display: block;
		margin: 10px auto 30px auto;
		width: 80px;
	}

	.user-avatar{
		text-indent: -999em;
		border-radius: 999px;
		height: 80px;
		line-height: 80px;
		background-color: $tone;
	}

	.logo{
		color: $tone;
		line-height: 1.5;
		border-radius: 2px;
		//background-color: $tone;
		font-size: 1.6em;
	}

	.user-menu{
		padding: 0 1.4em;
		li{
			padding: 6px;
			margin: 2px 0;
			//border-bottom: 1px $black solid;
			.glyphicon{
				margin-right: 4px;
			}
			
			border-radius: 2px;

			&:active{

				background-color: $light-black;

			}
		}
	}

}

.m-body,
.m-menu{

  @include transition(all, .2s, ease-in-out);
}