.me-page{
	.main{

	}

	.sub-nav-wrap{
		margin-top: 0;
	}
	.side{
		padding: 0;
	}
}




// phone
@media (max-width: $screen-xs-max) {

	.me-page{

		.sub-nav-wrap{
			margin-top: 10px;
		}
	  .sub-nav{
	    li{
				width: 33.3333%;
		  }
		}

		.side{
			margin: 0;
			padding: 0;
		}
	}
}
