.qa-cmt{
	overflow: hidden;
	margin-top: 10px;

	textarea{
		width: 100%;
		box-shadow: 0px 1px 1px 0px #eaeaea inset;
		border: 1px solid #ccc;
	}
	.cmt-form{
		.cmt-input{
			height: 4em;
			padding: .2em .6em;
			
		}
		.btn{
			font-size: .9em;
			float: right;
			margin-top: .8em;
		}
	}
	.cmt-list{

	}
	.cmt-item{
		border-bottom: 1px solid $light-gray;
		padding: .5em .4em;
		&:last-child{
			border: none;
		}
		.cmt-face{
			margin-right: .8em;
			float: left;
		}
		.cmt-detail{
			overflow: hidden;
			font-size: .9em;
			h5{
				margin-top: 4px;
				a{
					color: #555;
					font-weight: 400;
					margin-right: 1.2em;
				}
				span{
					color: $gray;
					font-size: .9em;
				}
			}

			.cont-txt{
				color: #555;
			}
		}
		.cmt-reply{
			overflow: hidden;
		}


		.cmt-reply-input{
			height: 2.4em;
			padding: .5em .6em;
		}

		.cmt-reply-btn{
			float: right;
			font-size: .8em;
			margin-top: 0;
			padding-top: .4em;
			padding-bottom: .4em;
			overflow: hidden;
			.btn{
				float: right;
				padding: 0;
			}
		}
	}
}