.user-mod{
	padding: .6em .4em;
	.face{
		float: left;
		margin: 4px 1.2em 2px 0;
	}

	.info{
		overflow: hidden;
	}

	.username{
		margin-bottom: 4px;
		display: block;
	}

	.btn{
		padding: 4px 12px;
	}
}