<ul class="user-list-mod flat-user-list-mod">
	<li class="user-mod">
		
		<a ng-href="#!/user/" class="face face-42" title="{{news.ans.username}}" style="background-image:url(http://mifan.us/cache/user/0/0/48/6c9e391e64_48_48.jpg)">老婆婆</a>

		<div class="info">
			<p class="username">vincent</p>
			<p class="brief">只是一个平凡的男孩。</p>
		</div>
		
		<a title="添加关注" class="btn btn-success">关注</a>

	</li>	
	<li class="user-mod">
		
		<a ng-href="#!/user/" class="face face-42" title="{{news.ans.username}}" style="background-image:url(http://mifan.us/cache/user/0/0/48/6c9e391e64_48_48.jpg)">老婆婆</a>

		<div class="info">
			<p class="username">vincent</p>
			<p class="brief">只是一个平凡的男孩。</p>
		</div>
		
		<a title="添加关注" class="btn btn-success disabled">互相关注</a>

	</li>
</ul>
<more></more>