<div ng-controller="profileCtrl" class="side sd-card">
	<div class="profile">

		<div class="cover" style="background-image: url(images/covers/fruit_large.jpg); background-color: rgb(52, 73, 94);">
		</div>
		<b class="face face-136" style="background-image: url({{profile.face_120}})"></b>

		<div class="bio">
			<em class="username blk" ng-bind="profile.username"></em>
			<div class="intro blk">{{profile.about}}</div>

			<div class="sns sns-color blk">
				<span class="weibo" ng-show="profile.weibo"><i></i>@{{profile.weibo}}</span>
				<span class="weixin" ng-show="profile.weixin"><i></i>@{{profile.weixin}}</span>
			</div>

			<div class="fans blk">
				<span>关注：<a ng-href="#!/">{{profile.count_follow}}</a></span>
				<span>粉丝：<a ng-href="#!/">{{profile.count_followed}}</a></span>
			</div>

			<div class="follow blk" ng-hide="myself">
				<button ng-show="followBtn" class="btn btn-{{followBtn.cls}}" ng-class="{disabled:isFollowSending}" ng-click="followFn()"><span ng-hide="isFollowSending">{{followBtn.txt}}</span><i class="glyphicon glyphicon-refresh animated infinite" ng-show="isFollowSending"></i></button>
			</div>

			<b class="blk-sep" ng-hide="myself"></b>
			<div class="ask-him blk" ng-hide="myself">
				<button class="btn btn-primary" ng-click="askHim()">向TA提问</button>
			</div>

			<div class="ask-him-box blk" ng-show="showAskBox">
				<form role="form" class="ask-ques-form" ng-submit="send()" ng-controller="userAskCtrl">
					<textarea class="form-control" rows="3" name="content" ng-model="quesContent" placeholder="问TA一个问题吧！"></textarea>
					<button type="submit" class="btn btn-success" ng-class="{disabled: !quesContent || isSending}"><i class="glyphicon" ng-class="{'glyphicon-refresh animated infinite': isSending, 'glyphicon-send': !isSending && !isSendSucs, 'glyphicon-ok': 'isSendSucs'}"></i></span></button>
				</form>
			</div>

			<b class="blk-sep"></b>
			<p class="blk addtime" ng-show="profile.addtime">始于 {{profile.addtime | date}}</p>


		</div>
	</div>

</div>