<div ng-controller="profileCtrl" class="side sd-card">
	<div class="profile">

		<div class="cover" style="background-image: url(images/covers/fruit_large.jpg); background-color: rgb(52, 73, 94);">
		</div>
		<b class="face face-136" style="background-image: url(http://user-cdn.spring.me/profile/20121206/n50c0dbf1eec71_large.jpg)"></b>

		<div class="bio">
			<em class="username blk">binnng</em>
			<p class="intro blk">穷得啥都没有，标准的穷三代</p>

			<p class="sns sns-color blk">
				<span class="weibo"><i></i>@老婆婆me</span>
				<span class="weixin"><i></i>@imbinnng</span>
			</p>
			
			<div class="ask-him blk"><button class="btn btn-primary">向TA提问</button></div>

			<div class="fans blk">
				<p>
					<span>关注：<a>99</a></span>
					<span>粉丝：<a>999</a></span>
				</p>
			</div>

			<div class="follow blk">
				<button class="btn btn-success">关注</button>
				<button class="btn btn-warning">取消关注</button>
			</div>

		</div>
	</div>

</div>