.home-page{
	
	.separate-row{
		height: 100%;
	}

	.main{

  	max-width: 600px;
  	margin: 0 auto;
  	.nav{
  		padding: 4px;
  	}
		.feed-content{
			background-color: #fefefe;
			padding: 20px;
		}
		.ask-ques{
			padding: 200px 14px 10px;
			background-color: $dark-gray;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top center;
			position: relative;
			border: none;
			overflow: hidden;


			&.active{
				.toolbar,
				.ask-ques-form{
					opacity: 1 !important;
				}

				.toolbar{
					.cancel{
						cursor: pointer;
					}
				}
			}

			.location{
				position: absolute;
				top: 20px;
				color: $white;
				@include text-shadow();
				padding-left: 4px;
			}
		}


			
		textarea,
		.login-tip{
			height: 6em;
			display: block;
			border-radius: 2px;
			border: none;
			box-shadow: inset 0 0 4px rgba(0, 0, 0, .1);
			background-color: $white;
		}

		.login-tip{
			line-height: 2.4em;
			text-indent: .8em;
			margin: 0;
			color: #666;
		}
			
		.ask-ques-form{
			opacity: .95;
			position: relative;
			@include transition(all, .2s);

			.arrow{
				color: $white;
				position: absolute;
				font-size: 24px;
				left: 20px;
				bottom: -18px;
			}

			.avatar{
				display: block;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-size: cover;
				position: absolute;
				left: 8px;
				bottom: -62px;
				border: 2px $white solid;
			}
			
			.toolbar{
				float: right;
				margin-top: 10px;
				opacity: 0;
				@include transition(all, .2s);

				.cancel{
					color: $white;
					@include text-shadow();
					padding: 0 10px;
					display: inline-block;
					cursor: default;
				}

				button[type="submit"]{
					padding-left: 30px;
					padding-right: 34px;

					&.disabled{
						opacity: 1;
					}

					//height: 5em;
					//border-top-left-radius: 0;
					//border-bottom-left-radius: 0;
				}
			}
		}

		.nav{
			margin-bottom: 20px;
			li{
				border-radius: 0;
				text-align: center;
				position: relative;
				a{
					color: $gray;
					background: transparent;
					border: none;
					border-radius: 0;
					&:hover,
					&:active{
						color: $black;
						background: transparent;
					}
				}
				b{
					position: absolute;
					top: 6px;
					right: 6px;
					background: #f33;
					color: #fff;
					text-indent: -999px;
					//padding: 0 .4em;
					border-radius: 100px;
					font-size: .8em;
					display: block;
					width: 8px;
					height: 8px;
				}
				&.active{
					a{
						color: $tone;
					}
				}
			}
		}

		.feed-content{
		
		}

		.news{
			.avatar{
				display: block;
				background-repeat: no-repeat;
				background-size: cover;
				text-indent: -999em;
				font-size: 1px;
			}
			.avatars{
				margin-right: .8em;
				.asker{
					width: 28px;
					height: 28px;
				}
				.answerer{
					width: 35px;
					height: 35px;
					margin: -10px 0 0 12px;
				}
			}

			.contents{
				overflow:hidden;
			}
			.questions{
				dd{
					border-bottom: 1px #ddd solid;
					padding: .8em 0 .2em;
					background-color: transparent;
					transition: all .4s ease-in-out;
					-moz-transition: all .4s ease-in-out;
					-webkit-transition: all .4s ease-in-out;
					&:last-child{
						border-bottom: none;
					}

					&:hover{
						//background: #effaff;
					}

					.h5{
						margin: 0 0 .6em 0;
						line-height: 1.4;
						font-weight: 400;
						a{
							color: #666;
							&:hover{
								color: #000;
							}
						}
					}

					.ask-ans-desc{
						color: #555;
						margin: 0;
					}

					.lead{
						font-size: 1.1em;
						margin-bottom: .6em;
					}

					.meta{

						.actions{
							padding: 12px 0;
							position: relative;

							.act-left{
								margin-top: 12px;
							}

							.m-bubble{
								position: absolute;
								right: 0;
							}
							a,b{
								&:active{
									color: $tone;
								}
							}
						}
					}

					.like,
					.m-cmt{
						color: $gray;
						padding: 0 .6em;
						&.active{
							color: $red;
						}
						.glyphicon-heart{
							margin-right: .2em;
						}
						.count{
							vertical-align: bottom;
						}
					}

					.m-cmt{
						.glyphicon-comment{
							margin-right: .24em;
						}
					}

					.bill-btn{
						
					}

					.liked-list{
						display: none;
						margin-left: .8em;
						li{
							display: inline-block;
						}
						.avatar{
							width: 18px;
							height: 18px;
							margin: 0 0px;
						}
					}

				}
			}
		}


		.comment{
			overflow: hidden;

			textarea{
				width: 100%;
				box-shadow: 0px 1px 1px 0px #eaeaea inset;
				border: 1px solid #ccc;
			}

			.cmt-tgl-btn{
				padding-left: 0;
				padding-right: 0;
				font-size: .9em;

				i{
					margin-left: .6em;
					font-size: .6em;
					font-weight: 200;
				}
			}
			.cmt-form{
				.cmt-input{
					height: 4em;
					padding: .2em .6em;
					
				}
				.btn{
					font-size: .9em;
					float: right;
					margin-top: .8em;
				}
			}
			.cmt-list{

			}
			.cmt-item{
				border-bottom: 1px solid $light-gray;
				padding: 1em .4em;
				&:last-child{
					border: none;
				}
				.cmt-face{
					margin-right: .8em;
					float: left;
				}
				.cmt-detail{
					overflow: hidden;

					h5{
						margin-top: 4px;
						a{
							color: #111;
							font-weight: 700;
							margin-right: 1.2em;
						}
						span{
							color: $gray;
							font-size: .9em;
						}
					}

					.cont-txt{
						color: #555;
					}
				}
				.cmt-reply{
					overflow: hidden;
				}


				.cmt-reply-input{
					height: 2.4em;
					padding: .5em .6em;
				}

				.cmt-reply-btn{
					float: right;
					font-size: .8em;
					margin-top: .6em;
					padding-top: .4em;
					padding-bottom: .4em;
					overflow: hidden;
					.btn{
						float: right;
					}
				}
			}
		}
		
	}

	.separate{
		background: #e5e5e5;
		width: 1px;
		margin: 0 auto;
		height: 100%;
	}



	.feed-wrap{
		margin-top: 26px;
	}
}




// pad

@media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
	.home-page{
		.main{
			.ask-ques{
				padding-top: 120px;
			}
		}
	}
}


//phone

@media (max-width: $screen-xs-max) {
	.home-page{
		.main{
			max-width: none;
			.ask-ques{
				padding-bottom: 14px !important;
			}
			.ask-ques-form{
				min-height: 26px;
				.avatar{
					width: 38px;
					height: 38px;
					bottom: -20px;
					left: 4px;
					position: static;
					display: inline-block;
				}
			}
			.login-tip{
				height: auto;
				background: transparent;
				text-indent: 0;
				a{
					color: $white;
				}
			}

			.nav{
				padding: 0;
				border-bottom: 1px solid $light-gray;
				margin-left: 6px;
				margin-right: 6px;
				li{
					margin-bottom: 0;
				}
			}

			.feed-content{
				padding: 6px;
			}

			.news{
				.avatars{
					margin-right: .6em;
					.asker{
					}
					.answerer{
						margin: -10px 0 0 8px;
					}
				}
			}

			.comment{
				.cmt-form{
					.btn{

					}
				}
			}
		}

		.side{
			margin-top: 2em;
			max-width: 600px;
		}

		.feed-wrap{
			margin-top: 10px;
		}
	}
}

@media (max-width: $screen-xs) {
	.home-page{
		.main{
			
			.ask-ques{
				padding-top: 100px;
			}
		}
	}
}


// 登录了
.logined{
	.home-page{
		.main{
			.ask-ques{
				padding-bottom: 30px;
			}
		}
	}
}