<div class="header clearfix" ng-controller="headCtrl">
	<div class="container">

		<div class="head-inner">
			<div class="login pull-right" ng-show="!username && page != 'welcome'">
				<a class="btn-link" ng-href="#!/welcome">
					<span class="sm-user">登录 | 注册</span>
					<span class="glyphicon glyphicon-user xs-user"></span>
				</a>
			</div>
			<div ng-class="{open: dropdownOpen}" class="username pull-right dropdown" ng-show="username" ng-click="toggleDropdown()">
				<span class="dropdown-label" id="username-lable" data-toggle="dropdown">{{username}}</span>
				<span class="caret"></span>

				<ul class="dropdown-menu" role="menu" aria-labelledby="username-lable">
			    <li><a href="#!/"><span class="glyphicon glyphicon-cog"></span>设置</a></li>
			    <li><a href="#!/"><span class="glyphicon glyphicon-search"></span>找人</a></li>
			    <li><a href="#!/"><span class="glyphicon glyphicon-phone-alt"></span>反馈</a></li>
			    <li><a ng-click="support()"><span class="glyphicon glyphicon-thumbs-up"></span>32个赞</a></li>
			    <li><a href="#!/"><span class="glyphicon glyphicon-off"></span>登出</a></li>
			  </ul>
			</div>
	    <h3 class="logo">
	    	<a href="#!/home">Mi</a>
	    	<a href="#!/support" ng-if="false">
		  		<small>
		  			<span class="glyphicon glyphicon-thumbs-up"></span>
		  			<span>{{supportNum}}</span>
		  		</small>
		  	</a>
	    </h3>
	    <ul class="nav nav-pills">
	      <li ng-class="{active: page === 'home'}"><a ng-href="#!/home">首页</a></li>
	      <li ng-class="{active: page === 'msg'}"><a ng-href="#!/msg">消息</a></li>
	      <li ng-class="{active: page === 'me'}"><a ng-href="#!/me">个人主页</a></li>
	      <li ng-class="{active: page === 'friend'}"><a ng-href="#!/friend">朋友</a></li>
	    	<span class="glyphicon glyphicon-chevron-up arrow" ng-style="{'-webkit-transform': 'translateX(' + arrowNav.left + 'px)', 'left': arrowNav.left + 'px'}" ng-hide="arrowNav.hide"></span>
	    </ul>
  	</div>

  </div>
</div>