<div class="home-page container clearfix">
	<div class="row col-xs-12 col-sm-8">
		<div class="main">
			
			<div class="ask-ques clearfix sd-card" ng-controller="homeAskCtrl" ng-style="{'background-image': 'url(' + bgUrl + ')'}" ng-class="{active: onInputing || isSending}">
				<div class="location">
					<span class="glyphicon glyphicon-map-marker">北京</span>
				</div>
				<div ng-if="isLogin">

					<form role="form" class="ask-ques-form" ng-submit="send()">
						<div class="ask-ques-text hidden-xs">
							<textarea class="form-control" rows="3" name="question" ng-model="askQuesConent" ng-focus="onFocus()" ng-blur="onBlur()" placeholder="问你朋友一个问题吧！"></textarea>
							<div class="arrow"><span class="glyphicon glyphicon-chevron-down"></span></div>
							<b class="avatar face" ng-style="{'background-image': 'url(' + user.face_60 + ')'}" title="老婆婆"></b>
						</div>
						<div class="toolbar hidden-xs">
							<span class="cancel" ng-click="onBlur(true)">取消</span>
							<button type="submit" class="btn btn-danger" ng-class="{disabled: !askQuesConent || isSending}"><i class="glyphicon" ng-class="{'glyphicon-refresh animated infinite': isSending, 'glyphicon-send': !isSending}"></i></span></button>
						</div>

						<button class="btn btn-danger visible-xs-inline-block" ng-click="toggleMDesign('ask')">提问</button>
					</form>

				</div>

				<p class="login-tip" ng-hide="isLogin">
					<span class="hidden-xs">提问需要 </span>
					<a ng-href="#!/login" class="btn btn-success visible-xs-inline-block">登录</a>
					<a ng-href="#!/login" class="hidden-xs">登录</a>
					<span class="hidden-xs"> 哦~</span>
				</p>

			</div>

			<div class="feed-wrap">

				<ul class="nav nav-tabs sd-card sub-nav" ng-show="isLogin">
				  <li ng-class="{active: feedType == 'news'}">
				  	<a class="btn-link" ng-href="#!/home">朋友动态</a>
				  	<b ng-show="remind.newsNum!==0">{{remind.newsNum}}</b>
				  </li>
				  <li ng-class="{active: feedType == 'answer'}">
				  	<a class="btn-link" ng-href="#!/home/answer">回答我的</a>
				  	<b ng-show="remind.answerNum!==0">{{remind.answerNum}}</b>
				  </li>
				  <li ng-class="{active: feedType == 'reply'}">
				  	<a class="btn-link" ng-href="#!/home/reply">回应我的</a>
				  	<b ng-show="remind.replyNum!==0">{{remind.replyNum}}</b>
				  </li>
				</ul>

				<div class="feed-content news sd-card" ng-if="feedType == 'news'" ng-controller="homeNews">
					<dl class="questions">
						<dd ng-repeat="news in newsCollect">
							<div class="avatars pull-left">
								<a ng-href="#!/user/{{news.ques.id}}" class="avatar asker" title="{{news.ques.username}}" style="background-image:url({{news.ques.face}})">{{news.ques.username}}</a>
								<a ng-href="#!/user/{{news.ans.id}}" class="avatar answerer" title="{{news.ans.username}}" style="background-image:url({{news.ans.face}})">{{news.ans.username}}</a>
							</div>
							<div class="contents">
								<h3 class="h5">
									<a ng-href="#" class="" title="问题">{{news.ques.text}}</a>
								</h3>
								<p class="lead">{{news.ans.text}}</p>
								<p class="ask-ans-desc">
									<a ng-href="#" title="username">{{news.ans.username}}</a> 对 <a ng-href="#" title="username">{{news.ques.username}}</a> 的回答于 <a ng-href="#" title="" class="">1天前</a>
								</p>
								<div class="meta">
									<div class="actions clearfix">
										<a class="like pull-left">
											<span class="glyphicon glyphicon-heart"></span>
											<span class="count">5</span>
										</a>
										<ul class="liked-list pull-left hidden-xs">
											<li><a ng-href="#" class="avatar" title="username" style="background-image:url(images/avatar24.jpg)">username</a></li>
										</ul>
										<a class="m-cmt pull-left visible-xs">
											<span class="glyphicon glyphicon-comment"></span>
											<span class="count">5</span>
										</a>
										<b class="pull-right bill-btn visible-xs" ng-click="toggleMBill()">...</b>
									</div>
								</div>
								<div class="comment hidden-xs">
									<span class="btn btn-link cmt-tgl-btn">21条评论<i class="glyphicon glyphicon-chevron-down"></i></span>
									<form class="cmt-form clearfix">
										<textarea name="cmt-content" class="cmt-input"></textarea>
										<button class="btn btn-success">评论</button>
									</form>
									<div class="cmt-list">
											<ul>
												<li class="cmt-item">
													<b class="face face-30 cmt-face" title="username"></b>
													<div class="cmt-detail">
														<h5><a href="#">老婆婆</a><span>下午2:20</span></h5>
														<p class="cont-txt">我要做大股东！</p>
														<div class="cmt-reply">
															<p class="cmt-reply-btn"><span class="btn btn-link">回复</span></p>
															<textarea class="cmt-reply-input"></textarea>
															<button class="btn btn-success cmt-reply-btn">回复</button>
														</div>
													</div>
												</li>
											</ul>
									</div>
								</div>
							</div>
						</dd>
					</dl>

					<more></more>
				</div>
				<div class="feed-content answer sd-card" ng-if="feedType == 'answer'" ng-controller="homeAnswer">
					{{content}}
					<more></more>
				</div>
				<div class="feed-content reply sd-card" ng-if="feedType == 'reply'" ng-controller="homeReply">
					{{content}}
					<more></more>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-xs-12 col-sm-4" ng-include="'views/home-side.html'"></div>
</div>