<form class="m-design-in" ng-controller="mDesginCtrl" ng-submit="onSubmit()">

	<header>
		<b class="cancel pull-left btn btn-gray" ng-click="toggleMDesign()">取消</b>
		<button class="send pull-right btn btn-danger" ng-class="{disabled: !mDesignContent || isSending}" type="submit"><i class="glyphicon"  ng-class="{'glyphicon-refresh animated infinite': isSending, 'glyphicon-send': !isSending}"></i></button>
		<h4>提出问题</h4>
	</header>
	
	<div class="wrap">
		<div class="input-box">
			<textarea ng-model="mDesignContent" name="content" id="m-design-input"></textarea>
		</div>
	</div>

</form>
