<div class="m-menu-inn" ng-controller="mMenuCtrl">

	<!-- 未登录 -->
	<div class="log-reg" ng-show="!username">
		<a href="#!/home" ng-click="toggleMMenu()" class="logo">米</a>
		<div class="link">
			<a href="#!/login" ng-click="toggleMMenu()" class="log" ng-class="{active: page=='login'}">登录</a>
			<a href="#!/register" ng-click="toggleMMenu()" class="reg" ng-class="{active: page=='register'}">注册</a>
		</div>
	</div>

	<!-- 登录 -->
	<div class="user" ng-show="username">
		<b class="user-avatar">{{username}}</b>
		<usermenu class="user-menu" ng-click="toggleMMenu()">
	</div>
</div>