<div class="container msg-page page-mod ">
	<div class="main sd-card">
		<p class="lead hiddenxs" ng-if="!IsiPad">Tips: 支持<b>ctrl + enter</b>回复</p>
		<dl class="questions" id="msg-ques">
			<dd ng-repeat="msg in askMe" class="feed-mod">
				<a class="face face-42 pull-left" ng-href="#!/user/{{msg.user.userid}}" class="avatar asker" title="{{msg.user..username}}" style="background-image:url({{msg.user.face_120}})">{{msg.user.ername}}</a>
				<div class="ques-dtl">
					<a class="h5" href="#">{{msg.content}}</a>
					<p class="meta"><a ng-href="#" title="username" class="ng-binding" href="#">{{msg.user.ername}}</a> 提问于 <a ng-href="#" title="" class="" href="#">1天前</a></p>

					<form class="ans-form clearfix hidden-xs">
						<textarea name="ans-content" class="ans-input" ng-focus="expander($event.target)" expander></textarea>
						<button class="btn btn-success disabled">回答</button>
					</form>
					<div class="m-acts">
						<b class="bill-btn bill-btn-dots" ng-click="setMBill($index)">...</b>
					</div>
				</div>
			</dd>
		</dl>
		<p ng-show="!askMe.length" class="error-mod" ng-bind="askMeMsg"></p>
		<more ng-show="askMeMore"></more>
	</div>
</div>