<div class="register-page container clearfix">
	<h3>注册</h3>
	<h4>米饭-用有趣的问答了解彼此！</h4>

	<div class="self">
		<h5>如果已有帐号，可以直接<a href="#!/login"> 登录</a></h5>
		<form role="form" class="reg-form" ng-submit="onSubmit()">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
			    <input type="email" class="form-control input-lg" placeholder="邮箱" ng-model="email">
			  </div>
		  </div>
		  <div class="form-group">
		  	<div class="input-group">
					<div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
		    	<input type="password" class="form-control input-lg" placeholder="密码" ng-model="password">
		  	</div>
		  </div>
		  <div class="form-group">
		  	<div class="input-group">
					<div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
		    	<input type="text" class="form-control input-lg" placeholder="昵称" ng-model="name">
		  	</div>
		  </div>
		  <button type="submit" class="btn btn-success btn-lg" ng-class="{disabled: !isLogValid || isLoging}"><i class="glyphicon"  ng-class="{'glyphicon-refresh animated infinite': isLoging, 'glyphicon-send': !isLoging}"></i></button>
		</form>
	</div>
</div>